<a href="https://colab.research.google.com/github/willianszwy/Forest-Cover-Type/blob/main/PP2_2_1_Conhecendo_o_Conjunto_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Redes Neurais Artificiais 2021.1

- **Disciplina**: Redes Neurais Artificiais 2021.1  
- **Professora**: Elloá B. Guedes (ebgcosta@uea.edu.br)  
- **Github**: http://github.com/elloa  

### Explorando uma base de dados

Nesta atividade prática iremos explorar a seguinte base de dados **_Forest Cover Type_**

1. Obtenha esta base de dados no seguinte link: https://www.kaggle.com/uciml/forest-cover-type-dataset/download
2. Consulte a documentação oficial da base de dados: https://archive.ics.uci.edu/ml/datasets/covertype
3. **Responda**:  

    3.1 O que é cada exemplo na base de dados?  
    3.2 Em que ano ela foi obtida?  
    3.3 Quem foram os responsáveis pela criação desta base de dados?

In [14]:
## Reservado para a importação de bibliotecas
import pandas as pd

**3.1 - Resposta:** Cada exemplo corresponde a uma área de 30m x 30m localizadas nas quatro áreas selvagens da Floresta Nacional Roosevelt, no norte do Colorado, Estados Unidos.

**3.2 - Resposta:** Segundo a documentação encontrada no site https://archive.ics.uci.edu/ml/datasets/covertype, a data de publicação da base de dados é 01/08/1998.

**3.3 - Resposta:** os responsáveis pela base de dados são: Jock A. Blackard e os professores Dr. Denis J. Dean e Dr, Charles W. Anderson, da Universidade do Colorado.

### Manipulando a base de dados

1. Abra a base de dados com o pandas
2. Imprima os 10 primeiros exemplos pertencentes à esta base
3. Imprima os 10 últimos exemplos pertencentes à esta base
4. Quantos exemplos esta base de dados possui?
5. Quais são os atributos que a base de dados possui e quais seus tipos?
6. Há algum dado faltante na base?
7. De acordo com a documentação da base de dados, qual o significado dos atributos do tipo "Soil Type"?  
  7.1 Este atributo é quantitativo ou qualitativo?  
  7.2 Qual o tipo de codificação utilizada para denotar este atributo? Consulte a seguinte referência:  
  * https://pbpython.com/categorical-encoding.html

1. Abra a base de dados com o pandas

In [12]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/covtype/covtype.data.gz

--2021-11-22 05:09:00--  https://archive.ics.uci.edu/ml/machine-learning-databases/covtype/covtype.data.gz
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11240707 (11M) [application/x-httpd-php]
Saving to: ‘covtype.data.gz’

covtype.data.gz     100%[===================>]  10.72M  35.8MB/s    in 0.3s

2021-11-22 05:09:00 (35.8 MB/s) - ‘covtype.data.gz’ saved [11240707/11240707]

In [13]:
!gunzip covtype.data.gz

In [31]:
columns = ['Elevation', 'Aspect', 'Slope', 'Horizontal_Distance_To_Hydrology', 'Vertical_Distance_To_Hydrology', 'Horizontal_Distance_To_Roadways', 'Hillshade_9am', 'Hillshade_Noon', 'Hillshade_3pm', 'Horizontal_Distance_To_Fire_Points', 'Wilderness_Area1', 'Wilderness_Area2', 'Wilderness_Area3', 'Wilderness_Area4', 'Soil_Type1', 'Soil_Type2', 'Soil_Type3', 'Soil_Type4', 'Soil_Type5', 'Soil_Type6', 'Soil_Type7', 'Soil_Type8', 'Soil_Type9', 'Soil_Type10', 'Soil_Type11', 'Soil_Type12', 'Soil_Type13', 'Soil_Type14', 'Soil_Type15', 'Soil_Type16', 'Soil_Type17', 'Soil_Type18', 'Soil_Type19', 'Soil_Type20', 'Soil_Type21', 'Soil_Type22', 'Soil_Type23', 'Soil_Type24', 'Soil_Type25', 'Soil_Type26', 'Soil_Type27', 'Soil_Type28', 'Soil_Type29', 'Soil_Type30', 'Soil_Type31', 'Soil_Type32', 'Soil_Type33', 'Soil_Type34', 'Soil_Type35', 'Soil_Type36', 'Soil_Type37', 'Soil_Type38', 'Soil_Type39', 'Soil_Type40', 'Cover_Type']

df_forest_cover = pd.read_csv("covtype.data", names = columns)

2. 10 primeiros exemplos:

In [32]:
df_forest_cover.head(10)

   Elevation  Aspect  Slope  ...  Soil_Type39  Soil_Type40  Cover_Type
0       2596      51      3  ...            0            0           5
1       2590      56      2  ...            0            0           5
2       2804     139      9  ...            0            0           2
3       2785     155     18  ...            0            0           2
4       2595      45      2  ...            0            0           5
5       2579     132      6  ...            0            0           2
6       2606      45      7  ...            0            0           5
7       2605      49      4  ...            0            0           5
8       2617      45      9  ...            0            0           5
9       2612      59     10  ...            0            0           5

[10 rows x 55 columns]

3. 10 últimos exemplos

In [33]:
df_forest_cover.tail(10)

        Elevation  Aspect  Slope  ...  Soil_Type39  Soil_Type40  Cover_Type
581002       2419     168     25  ...            0            0           3
581003       2415     161     25  ...            0            0           3
581004       2410     158     24  ...            0            0           3
581005       2405     159     22  ...            0            0           3
581006       2401     157     21  ...            0            0           3
581007       2396     153     20  ...            0            0           3
581008       2391     152     19  ...            0            0           3
581009       2386     159     17  ...            0            0           3
581010       2384     170     15  ...            0            0           3
581011       2383     165     13  ...            0            0           3

[10 rows x 55 columns]

4. Quantos exemplos esta base de dados possui?

In [35]:
print("A base de dados possui {0} exemplos".format(len(df_forest_cover)))

A base de dados possui 581012 exemplos

5. Quais são os atributos que a base de dados possui e quais seus tipos?

In [38]:
df_forest_cover.shape

(581012, 55)

**Resposta:** Cada exemplo possui 55 atributos, sendo ele informardos na célula a seguir:

In [39]:
df_forest_cover.columns

Index(['Elevation', 'Aspect', 'Slope', 'Horizontal_Distance_To_Hydrology',
       'Vertical_Distance_To_Hydrology', 'Horizontal_Distance_To_Roadways',
       'Hillshade_9am', 'Hillshade_Noon', 'Hillshade_3pm',
       'Horizontal_Distance_To_Fire_Points', 'Wilderness_Area1',
       'Wilderness_Area2', 'Wilderness_Area3', 'Wilderness_Area4',
       'Soil_Type1', 'Soil_Type2', 'Soil_Type3', 'Soil_Type4', 'Soil_Type5',
       'Soil_Type6', 'Soil_Type7', 'Soil_Type8', 'Soil_Type9', 'Soil_Type10',
       'Soil_Type11', 'Soil_Type12', 'Soil_Type13', 'Soil_Type14',
       'Soil_Type15', 'Soil_Type16', 'Soil_Type17', 'Soil_Type18',
       'Soil_Type19', 'Soil_Type20', 'Soil_Type21', 'Soil_Type22',
       'Soil_Type23', 'Soil_Type24', 'Soil_Type25', 'Soil_Type26',
       'Soil_Type27', 'Soil_Type28', 'Soil_Type29', 'Soil_Type30',
       'Soil_Type31', 'Soil_Type32', 'Soil_Type33', 'Soil_Type34',
       'Soil_Type35', 'Soil_Type36', 'Soil_Type37', 'Soil_Type38',
       'Soil_Type39', 'Soil_Type40', 'Cover_Type'],
      dtype='object')

Tipos de cada atributo:

In [40]:
df_forest_cover.dtypes

Elevation                             int64
Aspect                                int64
Slope                                 int64
Horizontal_Distance_To_Hydrology      int64
Vertical_Distance_To_Hydrology        int64
Horizontal_Distance_To_Roadways       int64
Hillshade_9am                         int64
Hillshade_Noon                        int64
Hillshade_3pm                         int64
Horizontal_Distance_To_Fire_Points    int64
Wilderness_Area1                      int64
Wilderness_Area2                      int64
Wilderness_Area3                      int64
Wilderness_Area4                      int64
Soil_Type1                            int64
Soil_Type2                            int64
Soil_Type3                            int64
Soil_Type4                            int64
Soil_Type5                            int64
Soil_Type6                            int64
Soil_Type7                            int64
Soil_Type8                            int64
Soil_Type9                            int64
Soil_Type10                           int64
Soil_Type11                           int64
Soil_Type12                           int64
Soil_Type13                           int64
Soil_Type14                           int64
Soil_Type15                           int64
Soil_Type16                           int64
Soil_Type17                           int64
Soil_Type18                           int64
Soil_Type19                           int64
Soil_Type20                           int64
Soil_Type21                           int64
Soil_Type22                           int64
Soil_Type23                           int64
Soil_Type24                           int64
Soil_Type25                           int64
Soil_Type26                           int64
Soil_Type27                           int64
Soil_Type28                           int64
Soil_Type29                           int64
Soil_Type30                           int64
Soil_Type31                           int64
Soil_Type32                           int64
Soil_Type33                           int64
Soil_Type34                           int64
Soil_Type35                           int64
Soil_Type36                           int64
Soil_Type37                           int64
Soil_Type38                           int64
Soil_Type39                           int64
Soil_Type40                           int64
Cover_Type                            int64
dtype: object

6. Há algum dado faltante na base?

In [ ]:
df_forest_cover.isna()

In [ ]:
df_forest_cover.isnull()

**Resposta:** Como podemos ver, as funções ```isna``` e ```isnull``` não identificaram nenhuma irregularidade com os dados.

### Visualizando a base de dados

1. Baseando-se nos fundamentos de visualização de dados abordados na disciplina, plote cada um dos atributos preditores de maneira a enfatizar a sua distribuição, tendência central e dispersão  
1.1 Considere que o número de columas no dataset é diferente do número de atributos, conforme discussão promovida a respeito do dataset  
1.2 Se preferir, opte por complementar as informações visuais com medidas estatísticas  
2. A partir da visualização elaborada, o que pode-se dizer a respeito do balanceamento do atributo-alvo?
3. Que tipo de tarefa de Aprendizado de Máquina é sugestiva para este problema?  
3.1 Apresente métricas de desempenho compatíveis para a avaliação do problema (liste-as)  
3.2 Escolha uma das métricas apresentadas para ser utilizada como referência pela equipe

In [ ]:
df_forest_cover.hist('Elevation', bins=20)
df_forest_cover.hist('Aspect', bins=20)
df_forest_cover.hist('Slope', bins=20)
df_forest_cover.hist('Horizontal_Distance_To_Hydrology', bins=20)
df_forest_cover.hist('Vertical_Distance_To_Hydrology', bins=20)
df_forest_cover.hist('Horizontal_Distance_To_Roadways', bins=20)
df_forest_cover.hist('Hillshade_9am', bins=20)
df_forest_cover.hist('Hillshade_Noon', bins=20)
df_forest_cover.hist('Hillshade_3pm', bins=20)
df_forest_cover.hist('Horizontal_Distance_To_Fire_Points', bins=20)

2. A partir da visualização elaborada, o que pode-se dizer a respeito do balanceamento do atributo-alvo?

In [ ]:
df_forest_cover.hist('Cover_Type')

Resp. 2: Pode-se afirmar que um número próximo de 500 mil amostra dos dados é classificada como possuindo cobertura do tipo 1 ou 2.